# Dependencies
node_modules/
package-lock.json

# Environment
.env
.env.*
!.env.example

# Build output
dist/
*.js.map

# Angular
.angular/

# IDE
.DS_Store
.vscode/
*.swp
*.swo

# Locks
pnpm-lock.yaml
